{% extends "base.html.twig" %}

{% block title %}
Modifictation de mot de passe
{% endblock %}

{% block body %}
<div class="container">
<div class="mt-5 form-view">
		<div class="col-md-6 mx-auto">
    <h1 class="mt-5">Modification de mot de passe</h1>
    {{ form_start(form) }}
    <div class="p-2 px-2">
    {{ form_row(form.oldPassword) }}
    </div>
    <div class="p-2 px-2">
    {{ form_row(form.newPassword) }}
    </div>
    <div class="p-2 px-2">
    {{ form_row(form.confirmPassword) }}
    </div>
    <button type="submit" class="btn btn-primary my-5">Modifier le mot de passe</button>
    {{ form_end(form) }}
</div>
</div>
</div>
{% endblock %}